@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages-item {
    max-width: 396px;
  }
  .advantages-subtitle {
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .costumers-item {
    width: calc((100% - 16px) / 2);
  }
  .costumers-list {
    gap: 72px 16px;
  }

  .hero-title {
    width: 320px;
    height: 80px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .hero-button {
    padding: 16px 32px;
  }
  .advantages-item-text {
    font-weight: 500;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
  }
  .team-item {
    background-color: #ffffff;

    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .footer {
    padding-top: 97px;
    padding-bottom: 96px;
  }
  .footer-conteiner {
    /* display: flex; */
    align-items: baseline;
    flex-direction: column;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--portfolio-filters);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .footer-text {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 268px;
  }
  .footer-old {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-form {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
  }
  .footer-soc {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-top: 72px;
    text-align: center;
  }
  .footer-subscribe {
    margin-top: 72px;
    /* margin-bottom: 96px; */
    margin-left: auto;
    margin-right: auto;
  }
  .footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-left: 0;
  }
  .footer-btn-subs {
    min-width: 165px;
    height: 40px;
    margin: 0 auto;
    margin-top: 16px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    height: 100%;
    width: 100%;
  }
  .header-conteiner {
    height: 72px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-menu {
    display: flex;
    width: calc((100% - 80px) / 3);
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }
  .header-addres {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }
  .header-addres-list {
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .header-addres-link:hover,
  .header-addres-link:focus {
    color: #404bbf;
  }
  .header-menu-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
  }
  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-addres-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--litle-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .advantages-item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-subtitle {
    text-align: left;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .team {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .team-container {
    max-width: 584px;
    height: 100%;
  }
  .team-tittle {
    margin: 0 auto;
    padding-top: 96px;
    margin-bottom: 72px;
  }
  .team-item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-status {
    text-align: center;
    font-weight: 400;
  }
  .costumers-container {
    max-width: 584px;
    height: 360px;
  }
  .costumers-item {
    max-width: unset;
    width: calc((100% - 48px) / 3);
  }
  .costumers-list {
    gap: 72px 16px;
  }
  .hero-container {
    padding: 112px 136px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab2x.jpg);
    }
  }
  .hero-title {
    width: 496px;
    height: 120px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }
  .open-menu-btn,
  .mob-menu {
    display: none;
  }
  .footer {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: unset;
    max-width: 584px;
    gap: 72px 24px;
  }
  .footer-logo {
    display: flex;
    justify-content: left;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--portfolio-filters);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 17px;
    margin-top: 96px;
  }
  .footer-text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 268px;
  }
  .footer-old {
    margin-left: 0;
    margin-right: auto;
  }
  .footer-form {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
    flex-direction: unset;
  }
  .footer-soc {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-top: 72px;
    text-align: left;
  }
  .footer-subscribe {
    margin-top: 0;
    margin-bottom: 96px;
    margin-left: 0;
    margin-right: auto;
    gap: 24px;
    align-items: center;
  }

  .footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
    margin-left: 0;
  }
  .footer-btn-subs {
    margin-top: 0;
  }
  .footer-email-text {
    width: 264px;
    height: 40px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    height: 100%;
    width: 100%;
  }
  .header-conteiner {
    height: 100%;
  }
  .header-menu {
    display: flex;
    width: calc((100% - 80px) / 3);
  }
  .header-addres {
    display: flex;
  }
  .header-addres-list {
    display: flex;
    gap: 40px;
    flex-direction: unset;
  }

  .header-addres-link {
    font-size: 12px;
    font-family: Roboto;
    line-height: 14px;
    letter-spacing: 0.48px;
  }
  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-addres {
    font-style: normal;
    margin-left: auto;
  }
  .header-addres-link:hover,
  .header-addres-link:focus {
    color: #404bbf;
  }
  .header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
  }
  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-addres-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--litle-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .advantages-item-text {
    font-weight: 400;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    height: 100%;
  }
  .hero-container {
    padding: 188px 472px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
  .advantages-item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: block;
  }
  .advantages-icon {
    display: flex;
    margin: 0 auto;
  }
  .products {
    display: block;
  }
  .team-tittle {
    margin-top: 120px;
    margin-bottom: 72px;
  }
  .team-item {
    max-width: unset;
    width: calc((100% - 3 * 24px) / 4);
  }
  .team-list {
    gap: 24px;
  }
  .costumers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .costumers-item {
    max-width: unset;
    width: calc((100% - 120px) / 6);
  }
  .costumers-list {
    gap: 24px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }
  .open-menu-btn,
  .mob-menu {
    display: none;
  }

  .footer {
    background-color: var(--subtitle-color);
    padding: 100px 0;
  }
  .footer-conteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: unset;
  }
  .footer-old {
    margin-right: 120px;
  }
  .footer-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
  }

  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
  }
  .footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--portfolio-filters);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .footer-logo-span {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #f4f4fd;
  }

  .footer-soc-list {
    display: flex;
    gap: 16px;
    list-style: none;
  }
  .footer-soc-item {
    width: 40px;
    height: 40px;
  }
  .footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--portfolio-filters);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31d0aa;
  }

  .footer-icon {
    fill: var(--button-background-color);
  }

  .footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 80px;
  }
  .footer-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
    margin-left: 80px;
  }
  .footer-email-text {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-email-text::placeholder {
    color: #ffffff;
  }
  .footer-btn-subs {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  .footer-subs-icon {
    margin-left: 16px;
  }
}
