:root {
  --title-color: #ffffff;
  --subtitle-color: #2e2f42;
  --portfolio-filters: #4d5ae5;
  --button-background-color: #f4f4fd;
  --litle-text: #434455;
  --button-port-color: #e7e9fc;
  --costumers-color: #8e8f99;
  --vector-color: #404bbf;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--litle-text);
  background-color: var(--title-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: style type none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.section-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--litle-text);
}
/**-------------HEADER--------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-addres-list {
  display: flex;
  gap: 40px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--portfolio-filters);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  /* margin-right: 249px; */
  text-transform: uppercase;
}

.header-logo-span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--subtitle-color);
}

.header-menu {
  display: none;
}
.header-addres {
  display: none;
}
/* --------------Mobal-menu----------- */
.open-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  width: 32px;
  height: 22px;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu-span {
  color: var(--ocean, #404bbf);
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mob-addres-item-tel {
  font-style: normal;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: #4d5ae5;
}
.mob-addres-item-mail {
  font-style: normal;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--litle-text);
}
.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.link {
}
.current {
}
.mob-addres {
}
.mob-addres-list {
  display: block;
  flex-wrap: wrap;
  gap: 40px;
}
.mob-addres-span {
  color: var(--slate, #434455);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mob-tel-span {
  color: #404bbf;
}
.mob-addres-item {
}
.mob-addres-link {
}
.mob-icon-wrap {
  display: flex;
  justify-content: center;
  gap: 13px;
  list-style: none;
  margin-top: 48px;
}
.mob-icon-item {
  width: 40px;
  height: 40px;
}
.mob-icon-element {
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-filters);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-soc {
  fill: var(--button-background-color);
}
/**------------HERO--------------- */
.hero {
  background-color: #2e2f42;
  padding: 112px 0;
  height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob2x.jpg);
  }
}

.hero-container {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 112px;
  padding-bottom: 112px;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  /* height: 120px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--portfolio-filters);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/**-------------ADVANTAGES-------------- */
.advantages-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}
.advantages-item {
  width: 100%;
}
.advantages-item-text {
  color: #434455;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/**-------------PRODUCTS-------------- */
.products {
  display: none;
}
.products-title {
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}
.products-list {
  display: flex;
  gap: 24px;
}
.products-item {
  width: calc((100% - 24px * 2) / 3);
  margin: 0 auto;
}

/**-------------TEAM-------------- */

.team {
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-tittle {
  margin: 0 auto;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;

  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item img {
  margin: 0 auto;
}
.team {
  background-color: #f4f4fd;
}
.team-name-class {
  padding: 32px 0;
  margin: 0 auto;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
}
.team-status {
  text-align: center;
}
.team-icon-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-icon-element {
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-filters);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-element:hover {
  background-color: #404bbf;
}
.team-icon-element:focus {
  background-color: #404bbf;
}

.team-icon-soc {
  fill: var(--button-background-color);
}

/**-------------Costumers----------*/
.costumers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.costumers-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--subtitle-color);
  margin-bottom: 72px;
}
.costumers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
  list-style: none;
}
.costumers-item {
  height: 88px;
  width: 190px;
}
.costumers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--costumers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costumers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.costumers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.costumers-picture {
  fill: currentColor;
}

/**-------------FOOTER-------------- */
.footer {
  background-color: var(--subtitle-color);
  padding: 100px 0;
}
.footer-conteiner {
  /* display: flex; */
  align-items: baseline;
}
.footer-old {
  /* margin-right: 120px; */
}
.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--portfolio-filters);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-logo-span {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
}
.footer-soc {
  margin-top: 72px;
  margin-bottom: 72px;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  list-style: none;
  justify-content: center;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-filters);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: var(--button-background-color);
}
.footer-subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  /* margin-left: 80px; */
}
.footer-form {
  /* display: flex; */
  gap: 24px;
  /* margin-left: 80px; */
}
.footer-email-text {
  /* width: 264px; */
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-email-text::placeholder {
  color: #ffffff;
}
.footer-btn-subs {
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-subs-icon {
  margin-left: 16px;
}
/**---------MODALKA----------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  width: 100%;
  max-width: 392px;
  height: 95%;
  max-height: 584px;
  overflow: scroll;

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px; */
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-input:focus {
  border-color: var(--portfolio-filters);
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-text {
  margin-bottom: 16px;
}
.modal-text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area:focus {
  border-color: #4d5ae5;
}
.field-privacy {
  margin-bottom: 24px;
}
.input-check {
}
.chek-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--costumers-color);
}
.chek-link {
  color: var(--portfolio-filters);
  text-decoration: underline;
}

.chek-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.input-check:checked + .chek-text > .chek-icon {
  background-color: var(--vector-color);
  border: none;
  fill: var(--button-background-color);
}
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

/**---------------PORFOLIO-NAVIGATION-------------------*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.port-navigation-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.body-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--litle-text);
}

.port-navigation-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-filters);
  background-color: var(--button-background-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--button-port-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-navigation-button:hover,
.port-navigation-button:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**---------------PORFOLIO-AVATAR------------------*/
.port-avatar-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.port-avatar-item {
  width: calc((100% - 48px) / 3);
}

.port-name-class {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.port-avatar-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-bottom: 8px;
}
.port-avatar-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--litle-text);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.port-avatar-blok {
  position: relative;
  overflow: hidden;
}
.port-blok-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-background-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .port-blok-text {
  transform: translateY(0%);
}
.portfolio-link:focus .port-blok-text {
  transform: translateY(0%);
}
